# Color sequences

#
# COPYRIGHT (C) 2015 Alexander Köster.
# http://woalk.com  https://github.com/woalk
#

# Use $_C_COLOR (e.g. $_C_RED) to set terminal text color to the desired one.
# Use $_BC_COLOR (e.g. $_BC_RED) to set terminal background color to the desired one.
# Use $_C_DEFAULT or simply $_C_ to unset the text color change.
# Same for background color, $_BC_DEFAULT.
export _C_BLACK="$(tput setaf 0)"
export _C_RED="$(tput setaf 1)"
export _C_GREEN="$(tput setaf 2)"
export _C_YELLOW="$(tput setaf 3)"
export _C_BLUE="$(tput setaf 4)"
export _C_MAGENTA="$(tput setaf 5)"
export _C_CYAN="$(tput setaf 6)"
export _C_WHITE="$(tput setaf 7)"
export _C_BBLACK="$(tput setaf 0)"

export _C_BOLD="$(tput bold)"

export _C_BRED="$_C_BOLD$(tput setaf 1)"
export _C_BGREEN="$_C_BOLD$(tput setaf 2)"
export _C_BYELLOW="$_C_BOLD$(tput setaf 3)"
export _C_BBLUE="$_C_BOLD$(tput setaf 4)"
export _C_BMAGENTA="$_C_BOLD$(tput setaf 5)"
export _C_BCYAN="$_C_BOLD$(tput setaf 6)"
export _C_BWHITE="$_C_BOLD$(tput setaf 7)"

export _C_DEFAULT="$(tput setaf 9; tput sgr0)"
export _C_="${_C_DEFAULT}"


export _BC_BLACK="$(tput setab 0)"
export _BC_RED="$(tput setab 1)"
export _BC_GREEN="$(tput setab 2)"
export _BC_YELLOW="$(tput setab 3)"
export _BC_BLUE="$(tput setab 4)"
export _BC_MAGENTA="$(tput setab 5)"
export _BC_CYAN="$(tput setab 6)"
export _BC_WHITE="$(tput setab 7)"
export _BC_DEFAULT="$(tput sgr0)"
export _BC_="${_BC_DEFAULT}"

colorhelp ()
{
    echo 'Color sequences
Use $_C_COLOR (e.g. $_C_RED) to set terminal text color to the desired one.
Use $_BC_COLOR (e.g. $_BC_RED) to set terminal background color to the desired one.
Use $_C_DEFAULT or simply $_C_ to unset the text color change.
Same for background color, $_BC_DEFAULT.'
}
